@import "theme.css";
@import "fonts.css";
@import "emojis.css";
@import "jfoenix.css";

/*------------------------------------------------------------------------------
 * Base Styles
 *------------------------------------------------------------------------------*/

.theme-presets {

	-sn-primary-color: -pink-500;
	-sn-secondary-color: rgba(255, 255, 255, 0.87);
	-sn-accent-color: -pink-A200;

	/* dark text colors for light backgrounds */
	-sn-dark-txt: #000000;
	-sn-dark-primary-txt: derive(-sn-dark-txt, 87%);
	-sn-dark-secondary-txt: derive(-sn-dark-txt, 54%);
	-sn-dark-hint-txt: derive(-sn-dark-txt, 38%);
	-dn-dark-divider-txt: derive(-sn-dark-txt, 16%);

	/* light text colors for dark backgrounds */
	-sn-light-txt: #FFFFFF;
	-sn-light-primary-txt: derive(-sn-light-txt, 100%);
	-sn-light-secondary-txt: derive(-sn-light-txt, 70%);
	-sn-light-hint-txt: derive(-sn-light-txt, 50%);
	-sn-light-divider-txt: derive(-sn-light-txt, 12%);
	-fx-background-color: -sn-secondary-color;

}

/*------------------------------------------------------------------------------
 * Material like text sizes
 *------------------------------------------------------------------------------*/

.display-4 {
	-fx-font-family: Roboto-Light;
	-fx-font-size: 112px;
}

.display-3 {
	-fx-font-family: Roboto;
	-fx-font-size: 56px;
}

.display-2 {
	-fx-font-family: Roboto;
	-fx-font-size: 45px;
}

.display-1 {
	-fx-font-family: Roboto;
	-fx-font-size: 34px;
}

.headline {
	-fx-font-family: Roboto;
	-fx-font-size: 24px;
}

.title {
	-fx-font-family: Roboto-Medium;
	-fx-font-size: 20px;
}

.subheading {
	-fx-font-family: Roboto;
	-fx-font-size: 15px;
}

.body-2{
	-fx-font-family: Roboto-Medium;
	-fx-font-size: 13px;
}

.body-1{
	-fx-font-family: Roboto;
	-fx-font-size: 13px;
}

.caption {
	-fx-font-family: Roboto;
	-fx-font-size: 12px;
}


.text {
	-fx-font-family: "Roboto"!important;
	-fx-font-smoothing-type: lcd!important;
}

.text-header {
	-fx-font-family: Roboto!important;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
}

.text-mid {
	-fx-font-family: Roboto!important;
	-fx-font-size: 13px;
}

.text-small {
	-fx-font-family: Roboto-Light!important;
	-fx-font-size: 12px;
	-fx-fill: gray;
}

/*------------------------------------------------------------------------------
 * Common style sections
 *------------------------------------------------------------------------------*/
.header-pane {
	-fx-background-color: derive(-sn-primary-color, 20%);
}

.header-pane .label {
	-fx-text-fill: rgba(255, 255, 255, 0.87);
}




.icon-label,
.icon-label .text {
	-fx-font-size: 22px;
	-fx-font-family: FontAwesome !important;
	-fx-font-weight: normal;
	-fx-font-style: normal;
	-fx-cursor: hand;

}

.button.icon-label {
	-fx-border-color: null;
	-fx-background-color: null;
	-fx-padding: 4px;
	-fx-graphic-text-gap: 30px;

}

.button.icon-label:hover {
	-fx-font-family: FontAwesome !important;
	-fx-font-size: 22px;
}

.button.icon-label:hover {
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
}

/*------------------------------------------------------------------------------
 * Layout
 *------------------------------------------------------------------------------*/

.theme-presets .profile-image {
	-fx-background-color: -sn-secondary-color;
	-fx-background-radius: 100%;
}

/*------------------------------------------------------------------------------
 * Text-Fields
 *------------------------------------------------------------------------------*/
.text-field.material-design {
	-fx-font-size: 16px;
	-fx-text-fill: rgba(0, 0, 0, 0.87);
	-fx-prompt-text-fill: rgba(0, 0, 0, 0.54);
	-fx-cursor: text;
}

.text-field:focused.material-design {
	-fx-cursor-color: -sn-accent-color;
	-fx-cursor-color: -sn-accent-color;
}

/*------------------------------------------------------------------------------
 * Tabs
 *------------------------------------------------------------------------------*/
.tab-pane {
	-fx-tab-min-height: 60px;
	-fx-tab-max-height: 60px;
	// -fx-skin: "net.sharksystem.sharknet.javafx.controls.skins.TabPaneSkin";
}

.tab-pane .tab-header-area {
	-fx-background-color: -sn-primary-color;
	-fx-padding: 0 0 0 54px /* = 80 - 24px padding */;
	-fx-alignment: center;
}

.tab-pane .headers-region {
}

.tab-pane .tab-header-area .tab-header-background {
	-fx-background-color: transparent;
}

.tab-pane .tab-header-area .headers-region .tab:selected .focus-indicator,
.tab-pane .tab-header-area .headers-region .tab {
	-fx-background-color: transparent;
	-fx-border-color: null;
	-fx-border-width: null;

}

.tab-pane .tab-header-area .headers-region .tab:selected {
	-fx-background-color: transparent;
	-fx-border-width: 0 0 2px 0;
	-fx-border-color: white;
}

.tab:selected .tab-label {
	-fx-text-fill: rgba(255, 255, 255, 1.0);
	-fx-translate-y: 2px;
}

.tab .tab-label {
	-fx-text-fill: rgba(255, 255, 255, 0.7);
	-fx-font-face: Roboto-Medium!important;
	-fx-font-weight: bold;
	-fx-font-size: 13px;
	-fx-padding: 20px 24px 20px 24px;
}

/*------------------------------------------------------------------------------
 * Workbench
 *------------------------------------------------------------------------------*/
.workbench {

}

.workbench .workbench-sidebar {
	-fx-background-color: white;
	-fx-border-width: 0 1 0 0;
	-fx-border-color: black;
}

.workbench .workbench-overlay {
	-fx-background-color: rgba(0, 0, 0, 0.1);
}


/*------------------------------------------------------------------------------
 * Actionbar
 *------------------------------------------------------------------------------*/
.actionbar {
	-fx-min-height: 64px;
	-fx-pref-height: 64px;
	-fx-max-height: 64px;
	-fx-padding: 16px 24px 20px 16px;
	-fx-background-color: -sn-primary-color;
	-fx-border-width: 0 0 0 0;
	-fx-border-color: black;

}

.actionbar .text {
	-fx-fill: -sn-light-primary-txt !important;
	-fx-font-size: 20px;
}

.actionbar > .action-box {
	-fx-spacing: 4px;
}

.actionbar > .action-box > .button.context-menu-button {
	-fx-scale-x: 0.2 !important;
}

/*------------------------------------------------------------------------------
 * Context Menu
 *------------------------------------------------------------------------------*/
.context-menu {
	-fx-padding: 8px 0 8px 0;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-min-width: 112px;
}

.context-menu .menu-item {
	-fx-pref-height: 48px;
	-fx-min-width: 56px;
	-fx-pref-width: -1;
	-fx-min-width: 112px;
}

.context-menu .context-menu .menu-item .label {
	-fx-padding: 16px 0 20px 0;
}

.context-menu .context-menu .menu-item .label .text {
	-fx-font-family: "Roboto Bold"!important;
	-fx-text-fill: #242424 !important;
	-fx-fill: #242424 !important;
	-fx-font-size: 16px;
	-fx-padding: 0;
	-fx-margin: 0;

}

/*------------------------------------------------------------------------------
 * MediaList
 *------------------------------------------------------------------------------*/

.media-list {
	-fx-border-width: 0px;
	-fx-background-color: white;
	-fx-padding: 0px;
}

.media-list .media-list-item {
	-fx-background-color: white;
	-fx-border-color: lightgray;
	-fx-border-width: 0.5px 0px 0.5px 0px;
	-fx-padding: 12px;
}

.media-list .media-list-item:empty {
	-fx-border-width: 0px;
	-fx-padding: 0px;
	-fx-background-color: transparent!important;
}

.media-list .media-list-item:hover {
	-fx-background-color: derive(-sn-primary-color, 60%);
}

.media-list .media-list-item:selected{
	-fx-background-color: derive(-sn-primary-color, 60%);
}

/*------------------------------------------------------------------------------
 * Navigation
 *------------------------------------------------------------------------------*/

.navigation {
	-fx-padding: 0 16px;
	-fx-font-size: 15.0;
	-fx-text-fill: #444;
}

.navigation .item {
	-fx-cursor: hand;
}

.navigation .label {
	-fx-font-family: "Roboto-Medium"!important;
	-fx-font-size: 16.0;
	-fx-text-fill: rgba(0, 0, 0, 0.82)!important;
}

.navigation .icon {
	-fx-text-fill: rgba(0, 0, 0, 0.87)!important;
	-fx-font-size: 24.0;
	-fx-font-family: FontAwesome !important;

}

.navigation .item:hover {
	-fx-background-color: #E8E8E8;
	-fx-background-insets: 0 -16px;
}

.navigation .item:hover .icon,
.navigation .item:hover .label {
	-fx-text-fill: -sn-accent-color!important;
}

#sidebarHeader .title {
	-fx-text-fill: #FFFFFF;
}


#sidebarHeader .subtitle {
	-fx-text-fill: #FFFFFF;
}


/*------------------------------------------------------------------------------
 * Scrollbar
 *------------------------------------------------------------------------------*/

.scroll-bar {
	-fx-background-color: transparent;
}

.scroll-bar .track-background {
	-fx-background-color: transparent;
}

.scroll-bar .increment-button {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.scroll-bar .increment-button .increment-arrow {
	-fx-background-color: lightgray;
	-fx-border-color: transparent;
}

.scroll-bar .increment-button .increment-arrow:hover {
	-fx-background-color: derive(-sn-primary-color, 60%);
	-fx-border-color: transparent;
}

.scroll-bar .decrement-button {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.scroll-bar .increment-button .decrement-arrow {
	-fx-background-color: lightgray;
	-fx-border-color: transparent;
}

.scroll-bar .increment-button .decrement-arrow:hover {
	-fx-background-color: derive(-sn-primary-color, 60%);
	-fx-border-color: transparent;
}

.scroll-bar:vertical .thumb {
	-fx-background-insets: 0 6 0 6;
}

.scroll-bar .thumb {
	-fx-border-color: transparent;
	-fx-background-color: lightgray;
	-fx-background-insets: 6 0 6 0;
}

.scroll-bar .thumb:hover,
.scroll-bar .thumb:selected,
.scroll-bar .thumb:focused {
	-fx-background-color: derive(-sn-primary-color, 60%);
}

/*------------------------------------------------------------------------------
 * Buttons
 *------------------------------------------------------------------------------*/

.button {
	-fx-font-size: 14px;
	-fx-font-family: Roboto-Medium!important;
	-fx-font-weight: bold;
	-fx-background-color: -sn-primary-color;
	-fx-background-radius: 2px;
	-fx-border-width: 0;
	-fx-border-color: null;
	-fx-text-fill: white;
	-fx-min-width: 88px;
	-fx-min-height: 36px;
	-fx-label-padding: 0 16px;
	-fx-cursor: hand;
}

.button:hover {
	-fx-effect: null;
}

.button .text {
	-fx-text-color: white;
}

.newmessagecount {
	-fx-background-radius: 5em;
	-fx-background-color: #E91E63;
	-fx-min-width: 25px;
	-fx-min-height: 25px;
	-fx-alignment: center;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.loginProfileName {
	-fx-font-weight: bold;
	-fx-font-size: 2em;
}

.labelChatRecipients {
	-fx-font-weight: bold;
	-fx-font-size: 1.25em;
}

.newMessageHeader {
	-fx-font-weight: bold;
	-fx-font-size: 1.1em;
}

.chatDivider {
	-fx-background-radius: 5em;
	-fx-background-color: #E91E63;
	-fx-min-height: 20px;
	-fx-min-width: 580px;
	-fx-alignment: center;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}
