language: java
jdk:
  - oraclejdk8

os:
  - linux

# enable Java 8u45+, see https://github.com/travis-ci/travis-ci/issues/4042
addons:
  apt:
    packages:
      - oracle-java8-installer


deploy:
  provider: bintray

