@import "../../css/style.css";

/* Profile image chooser button */
#profileImageView {
    -fx-cursor: hand;
}

#profileImageLayer .icon-label{
    -fx-focus-traversable: false;
    -fx-text-fill: black;
    -fx-font-size: 32;
    visibility: hidden;
}

#profileImageLayer:hover .icon-label {
    visibility: visible;
}

.section-pane .title {
    -fx-font-weight: bold;
}
