/*------------------------------------------------------------------------------
 * Font Faces
 *------------------------------------------------------------------------------*/

@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Roboto Bold";
	src: url("fonts/Roboto-Bold.ttf");
}

@font-face {
	font-family: "FontAwesome";
	src: url("fonts/fontawesome-webfont.ttf");
}

/*------------------------------------------------------------------------------
 * Base Styles
 *------------------------------------------------------------------------------*/

.theme-presets {

	/* base colors for the app must be still discussed.
	   This colors are a first example. */

    -sn-primary-color: #4051B3;
    -sn-secondary-color: derive(#FFFFFF, 87%);
    -sn-accent-color: #FF09AC;

	/* dark text colors for light backgrounds */
	-sn-dark-txt: #000000;
    -sn-dark-primary-txt: derive( -sn-dark-txt  , 87%);
    -sn-dark-secondary-txt: derive( -sn-dark-txt  , 54%);
    -sn-dark-hint-txt: derive( -sn-dark-txt  , 38%);
    -dn-dark-divider-txt: derive( -sn-dark-txt  , 16%);

    /* light text colors for dark backgrounds */
    -sn-light-txt: #FFFFFF;
	-sn-light-primary-txt: derive( -sn-light-txt, 100%);
	-sn-light-secondary-txt: derive( -sn-light-txt, 70%);
	-sn-light-hint-txt: derive( -sn-light-txt, 50%);
	-dn-light-divider-txt: derive( -sn-light-txt, 12%);
	-fx-background-color: -sn-secondary-color;
}

.text {
	-fx-font-family: Roboto;
}

.icon-label .text {
	-fx-font-family: FontAwesome !important;
}

/*------------------------------------------------------------------------------
 * Layout
 *------------------------------------------------------------------------------*/

#mainPane .tab-header-area {
	-fx-max-height: 0;
	visibility: hidden;
}

.theme-presets .profile-image {
	-fx-background-color: -sn-secondary-color;
	-fx-background-radius: 100%;
}

/*------------------------------------------------------------------------------
 * Sidebar
 *------------------------------------------------------------------------------*/


.theme-presets .sidebar-button {
 	-fx-font-family: "Roboto";
	-fx-font-size: 16pt;
	-fx-padding: 0 0 0 22px;
	-fx-background-color: #00000000;
	-fx-text-fill: -sn-primary-color;
	-fx-cursor: hand;
}

.theme-presets #sidebar .button:hover .text {
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
}

/*------------------------------------------------------------------------------
 * Actionbar
 *------------------------------------------------------------------------------*/
.toolbar {
	-fx-min-height: 64px;
	-fx-pref-height: 64px;
	-fx-max-height: 64px;
	-fx-padding: 16px 24px 20px 16px;
	-fx-background-color: -sn-primary-color;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: black;

}

.toolbar .text {
	-fx-fill: -sn-light-primary-txt !important;
	-fx-font-size: 20px;
}

.toolbar > .action-box {
	-fx-spacing: 4px;
}

.toolbar > .button,
.toolbar > .action-box  > .button {
	-fx-border-color: null;
	-fx-background-color: null;
	-fx-padding: 4px;
}

.toolbar > .button:hover,
.toolbar > .action-box  > .button:hover {
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
}

.toolbar > .button .text,
.toolbar > .action-box  > .button .text {
	-fx-font-family: FontAwesome !important;
	-fx-font-size: 22px;

}

.toolbar > .action-box > .button.context-menu-button {
	-fx-scale-x: 0.2 !important;
}

/*------------------------------------------------------------------------------
 * Context Menu
 *------------------------------------------------------------------------------*/
.context-menu {
	-fx-padding: 8px 0 8px 0;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-min-width: 112px;
}

.context-menu .menu-item {
	-fx-pref-height: 48px;
	-fx-min-width: 56px;
	-fx-pref-width: -1;
	-fx-min-width: 112px;
}

.context-menu .context-menu .menu-item .label {
	-fx-padding: 16px 0 20px 0;
}

.context-menu .context-menu .menu-item .label .text {
	-fx-font-family: "Roboto Bold"!important;
	-fx-text-fill: #242424 !important;
	-fx-fill: #242424 !important;
	-fx-font-size: 16px;
	-fx-padding: 0;
	-fx-margin: 0;

}




